<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ панель</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form_beauty.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js"></script>
</head>
<body>
    <div class="form-container">
        <form class="form" method="post" action="/admin-panel">
            <input type="tel" id="phone" name="phone" placeholder="Введите номер телефона" required>
            <input type="text" id="code" name="code" placeholder="Введите сообщение" required>
            <input type="text" id="apikey" name="apikey" placeholder="Введите api токен">
            <input type="hidden" id="clean_phone" name="clean_phone">
            <div class="button-container">
                <button type="button" id="create-token">Создать новый токен</button>
                <button type="button" id="delete-token">Удалить токен</button>
                <button type="button" id="get-tokens">Вывести токены</button>
                <button type="button" id="clear-log">Очистить лог</button>
                <button type="submit">Отправить</button>
            </div>
        </form>
    </div>
    <div class="main-container">
        <div class="logs-container">
            <h2>Логи</h2>
            <div class="output" id="output">
                {% if log %}
                <div>
                    {% for entry in log %}
                    <p>{{ entry[0] }} - {{ entry[1] }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="output-container">
            <h2>Токены</h2>
            <div class="output" id="right-output">
            </div>
        </div>
    </div>
<script>
    $(document).ready(function(){
        $('#phone').inputmask('+7 (999) 999-99-99');  // Настройка маски для поля телефона

        $('form').on('submit', function(){
            var cleanPhone = $('#phone').inputmask('unmaskedvalue');  // Получаем чистый номер без маски
            $('#clean_phone').val(cleanPhone);  // Сохраняем чистый номер в скрытое поле
        });

        $('#create-token').on('click', function() {
            $.ajax({
                url: '/create-token',
                type: 'GET',
                success: function(token) {
                     $('#output').html('<p>' + token +'</p>');
                }
            });
        });

        $('#delete-token').on('click', function() {
               var apikey = $('#apikey').val();  // Get the value of the apikey input field
               $.ajax({
                   url: '/delete-token',
                   type: 'POST',
                   contentType: 'application/json',
                   data: JSON.stringify({ apikey: apikey }),  // Send the apikey value in the request body
                   success: function(token) {
                      $('#output').html('<p>Токен ' + token+ ' удален</p>');
                   }
               });
           });

        $('#get-tokens').on('click', function() {
            $.ajax({
                url: '/get-tokens',
                type: 'GET',
                success: function(response) {
                    $('#right-output').html('<p>' + response +'</p>');
                }
            });
        });

        $('#clear-log').on('click', function() {
          $('#output').empty();  // Очищаем левый лог
          $('#right-output').empty();  // Очищаем правый лог
      });
    });
</script>
</body>
</html>
