<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Центрированная Форма</title>
    <link rel="stylesheet" type="text/css" href="../static/form_beauty.css">
</head>
<body>
    <div class="container">
        <form class="form">
            <h2>Введите данные</h2>
            <input type="tel" id="phone" name="phone" placeholder="Номер телефона" required>

            <input type="text" id="code" name="code" placeholder="Код" required>

            <button type="submit">Отправить</button>
        </form>
        <div class="output" id="output">
            <!-- Здесь будет отображаться текст -->
            <p>Здесь будет сообщения из логов</p>
        </div>
    </div>
</body>
</html>
